@import "tailwindcss";


@theme inline {

  --font-roboto: var(--font-roboto);
  --color-primary: #2563eb;
  --color-secondary: #ec4899;
  --color-dark: #000000;
  --color-light: #ffffff;
}

body {
  font-family:  var(--font-roboto), serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;

  @media (min-width: 82rem) {
    max-width: 82rem;
  }
}

@layer base{
    h1,h2,h3,h4,h5,h6{
        font-family: var(--font-roboto), serif;
    }

    h1{
        @apply text-2xl sm:text-3xl lg:text-4xl lg:leading-12 font-bold 
    }
    h2{
        @apply text-2xl lg:text-[32px] lg:leading-10 font-semibold 
    }
    h3{
        @apply text-xl lg:text-2xl lg:leading-8 font-semibold 
    }
    h4{
        @apply text-lg lg:text-xl lg:leading-7 font-semibold 
    }
    h5{
        @apply text-sm sm:text-base lg:leading-6 font-semibold
    }
}
